@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.App {
  background-color: #01579B;
  height: 100vh;
  font-family: caveat;
}

nav {
  background-color: #F9FBE7;
  text-align: center;
  padding: 1em 0;
  font-size: 2em;
}

ul {
  margin-top: 2em;
  width: 100%;
}

ul li {
  text-align: center;
  color: #ffffff;
  margin-bottom: 0.5em;
}

ul > li h3{
  display: inline-block;
}

ul > li button {
  margin-left: 10px;
  border: none;
  border-radius: 2px;
  background-color: #ffffff;
  transition: all .3s ease;
}

ul > li button:hover {
  background-color: #dddddd;
}

.problem {
  display: flex;
  justify-content: space-evenly;
}

.description, .code-editor {
  width: 50%;
  height: 100vh;
}

.description {
  background-color: #01579B;
  color: #ffffff;
  padding: 1em;
}

.description h3 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 2em;
  text-align: center;
}

.code-editor {
  background-color: #F9FBE7;
}